.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.border_radius_1{
  border-radius:1rem;
}

.logo_radius{
  border-radius: 1rem 0 0 1rem;
}

.fa-color{
  color: #ff6219;
}

.w-letter-bold{
  letter-spacing: 1px;
}

.dn-account{
  color: #393f81;
}

.color_register{
  color: #393f81;
}

.btn-green{
  background-color: #2a6b70 !important;
  color: #fff !important;
}